
.App {
  text-align: center;
}

body {
  background-color: #121212;
}

.element {
  margin-left: auto;
  margin-right: auto;
  background-color: #DEDA05;

}

h2 {
  text-align: center;
}

.card {
  width: 22rem;  
}

img {
  max-height: 30rem;
}
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
